* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Styling the heading  */
h2 {
  text-align: center;
  color: green;
  font-size: 40px;
  margin-top: 20px;
}

.subheading {
  text-align: center;
  font-size: 25px;
}

/* Styling for the container  */
.container {
  /* border: 1px solid red; */
  width: 100%;
  height: 300px;
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling for the circular timer container  */
.circle_container {
  /* border: 1px solid black; */
  width: 270px;
  height: 270px;
  background-color: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

/* Styling for individua circular  */
.circle {
  /* border: 1px solid green; */
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right center;
  background-color: purple;
}

.circle:nth-child(3) {
  background-color: #c1c1c1;
}

/* Styling for the outermost circe  */
.upper_circle {
  /* border: 1px solid yellow; */
  width: 245px;
  height: 245px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
}

.timer_container {
  z-index: 1;
}

.timer > div {
  font-size: 50px;
}

.allbutton {
  /* border: 1px solid red; */
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Styling for the buttons */
.add_time,
.skip_time,
.clear_time,
.restart_time {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid green;
  background-color: lightblue;
  color: purple;
  font-weight: 500;
  cursor: pointer;
}
